/* Remove margin everywhere */
*{
    /*box-sizing: border-box;*/
    margin: 0;
}

/* Body */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Changing font-size for h1 and h2 */

section h1 {
    font-size: 2rem;
}

section h2 {
    font-size: 1.5rem;
}

/* Navbar */

/* Navbar class (Holds the all navbar elements) */
.navbar {
    /* Makes sure that the navbar is always on the top of screen*/
    position: sticky;
    top: 0;

    /* Makes sure the position of the text is good */
    display: flex;
    flex-wrap: wrap;
    background-color: #8F001A;
    padding: 15px 15% 10px;
}

/* Changes looks of the links in navbar */
.navbar a {
    text-decoration: none;
    font-family: "Roboto", "Segoe UI", sans-serif;
}

/* Changes look of logo or brand */
.nav-logo {
    float: left;
    font-size: 22px;
    color: #fff;
    margin-left: 1rem;
    padding-top: 3px;
}

/* Changes looks of links */
.nav-link {
    float: left;
    color: rgb(232 232 232);
    font-size: 17px;
    padding: 3.5px;
    border-bottom: .25rem solid transparent;
}

/* Makes the white border when hovering over the links */
.nav-link:hover {
    border-bottom: .25rem solid #fff;
    color: #fff;
}

.active {
    border-bottom: .25rem solid #fff;
    color: #fff;
}

/* Responsive (Working on mobile and PCs) */

@media screen and (max-width: 667px) {

    /* Removes big padding when on mobile */
    .navbar {
        padding-left: 15px;
        padding-right: 15px;
        justify-content: center;
    }

    /* Moves links to center */
    .links {
        padding-top: 5px;
        margin-left: initial;
    }

    /* Removed the padding on each side of the page */
    .contact {
        padding-right: 20px;
        padding-left: 20px;
    }

    /* Changes the page from 3 rows to 1 when on mobile */
    .rows > .row-3 {
        flex: 1 1 100%;
    }

    /* Changes the page from 3 rows to 1 when on mobile */
    .rows > .row-3-pricing {
        flex: 1 1 100%;
    }

    /* Changes the page from 7 rows to 1 when on mobile */
    .rows > .row-7 {
        flex: 1 1 100%;
    }

    /* Changes the page from 4 rows to 1 when on mobile */
    .col{
        display: inline-block;
        text-align: left;
        width: 100%;
        padding-bottom: 20px;
        vertical-align: top;
    }
}

@media screen and (min-width: 668px) {

    /* Adds big padding when on pc */
    .navbar {
        padding-left: 15%;
        padding-right: 15%;
        justify-content: initial;
    }

    /* Moves links to the right */
    .links {
        padding-top: initial;
        margin-left: auto!important;
    }

    /* Adds space between the links */
    .nav-link {
        margin-left: 1rem;
    }

    /* Adding padding on each side of the page */
    .contact {
        padding-right: 8%;
        padding-left: 8%;
    }

    /* Changes the page from 1 rows to 3 when on PC */
    .rows > .row-3 {
        flex: 1 1 30%;
    }

    .rows > .row-3-pricing {
        flex: 0 1 25%;
    }

    /* Changes the page from 1 rows to 7 when on PC */
    .rows > .row-7 {
        flex: 1 1 14%;
    }

    /* Changes the page from 1 rows to 4 when on PC */
    .col{
        display: inline-block;
        text-align: left;
        width: 24%;
        vertical-align: top;
        padding-bottom: 20px;
    }
}

/* Home Page */

/* Setting up the background-image in the div and contains the text */
.home {
    /* Setup image and position */
    background-image: url("img/calendar-4.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;

    /* Setting up a way so the page is always the size of the screen or more (no white space on the bottom) */
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

/* Text div (Sets up color, size and more) */
.home-text {
    color: #fff;
    font-size: 2.3rem;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
}

/* Decides on the size of the logo */
.main-logo {
    width: 168px;
}

/* Fix button placement */
.button-container {
    display: inline-flex;
    vertical-align: middle;
}

/* App badge */
.app-badge {
    height: 50px;
    padding-left: 3px;
    padding-right: 3px;
}

/* Home Launch Web Version button */
.web-version-button {
    color: #fff;
    background-color: #8F001A;
    padding: 10px 24px;
    border-width: 0px;
    height: 50px;
    border-radius: 8px!important;
    font-size: 16px;
    border-color: #a6a6a6;
}

/* Change size of main text */
.main-text {
    font-size: 1.5em;
}

/* Change size of secondary text */
.secondary-text {
    font-size: 1.2em;
}
/*Features Page*/
.features{
    background-color: #f4f4f4;
    color: #3B3A3B;
    font-family: 'Montserrat', sans-serif;
   /* padding-bottom: 30px;
    padding-top: 30px;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.features h1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    padding: 20px;
}
.features h3{
    /*max-width: 1000px;*/
    font-size: 15px;
    margin-top: 10px;
    /*margin-left: 300px;*/
    /*margin-right: 300px;*/
    text-align: center;
}
.row{
    width: 90%;
    padding-top: 50px;
    margin-left: 5%;
}

/* Pricing Page */

/* Setting up the background-image in the div and contains the text */
.pricing {
    background-color: #f8eacd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing-main-text {
    font-size: 3rem;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.pricing-secondary-text {
    font-size: 2.2rem;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.pricing-cost-text {
    font-size: 1.5rem;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.pricing-text {
    font-size: 1rem;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: left;
}

.row-3-pricing {
    text-align: center;
    padding: 20px;
}

/* Team Section*/

.team {
    /*padding-bottom: 50px;
    padding-top: 50px;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Team Text */
.team-text {
    font-size: 2rem;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.team-h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.team-h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

/* Contact Section */

/* Setting up the background-image in the div and contains the text */
.contact {
    background-color: #8F001A; /* Garnett */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    color: #fff;
    padding-bottom: 10px;
}

.contact-h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    padding-bottom: 20px;
}

.contact-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 20px;
}

/* Setting the rows */
.rows {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.row-3 {
    text-align: center;
    padding-bottom: 20px;
}

.row-7 {
    text-align: center;
}

/* Class that makes the height the full page */

.full-page {
    min-height: 100vh;
}

/* Style footer */
.footer {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Helper Classes */

/* Class to set the margin to 0 */
.m-0 {
    margin: 0;
}

/* Class to align text to center */
.text-center {
    text-align: center;
}