/* Body */

body {
    display: block;
    margin: 0px;
}

/* Navbar class (Holds the all navbar elements) */
.navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #343a40;
    padding: 15px 15% 10px;
}

/* Changes looks of the links in navbar */
.navbar a {
    text-decoration: none;
    font-family: "Roboto", "Segoe UI", sans-serif;
}

/* Change view for mobile phones and PCs */

@media screen and (max-width: 667px) {

    /* Removes big padding when on mobile */
    .navbar {
        padding-left: 15px;
        padding-right: 15px;
        justify-content: center;
    }

    /* Moves links to center */
    .links {
        padding-left: 5px;
        padding-top: 5px;
        margin-left: initial;
    }
}

@media screen and (min-width: 668px) {

    /* Adds big padding when on pc */
    .navbar {
        padding-left: 15%;
        padding-right: 15%;
        justify-content: initial;
    }

    /* Moves links to the right */
    .links {
        padding-top: initial;
        margin-left: auto!important;
    }

    /* Adds space between the links */
    .nav-link {
        margin-left: 1rem;
    }
}

/* Changes look of logo or brand */
.nav-logo {
    float: left;
    font-size: 22px;
    color: #fff;
    margin-left: 1rem;
    padding-top: 3px;
}

/* Changes looks of links */
.nav-link {
    float: right;
    color: rgb(177 177 177);
    font-size: 17px;
    padding: 5px;
    border-bottom: .25rem solid transparent;
}

/* Makes the white border when hovering over the links */
.nav-link:hover {
    border-bottom: .25rem solid #fff;
    color: #fff;
}

/* Class to align text to center */
.text-center {
    text-align: center;
}

