/* Body */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navbar */

/* Navbar class (Holds the all navbar elements) */
.navbar {
    /* Makes sure that the navbar is always on the top of screen*/
    position: sticky;
    top: 0;

    /* Makes sure the position of the text is good */
    display: flex;
    flex-wrap: wrap;
    background-color: #8F001A;
    padding: 15px 15% 10px;
}

/* Changes looks of the links in navbar */
.navbar a {
    text-decoration: none;
    font-family: "Roboto", "Segoe UI", sans-serif;
}

/* Changes look of logo or brand */
.nav-logo {
    float: left;
    font-size: 22px;
    color: #fff;
    margin-left: 1rem;
    padding-top: 3px;
}

/* Changes looks of links */
.nav-link {
    float: left;
    color: rgb(232 232 232);
    font-size: 17px;
    padding: 4px;
    border-bottom: .25rem solid transparent;
}

/* Makes the white border when hovering over the links */
.nav-link:hover {
    border-bottom: .25rem solid #fff;
    color: #fff;
}

.active {
    border-bottom: .25rem solid #fff;
    color: #fff;
}

/* Responsive (Working on mobile and PCs) */

@media screen and (max-width: 667px) {

    /* Removes big padding when on mobile */
    .navbar {
        padding-left: 15px;
        padding-right: 15px;
        justify-content: center;
    }

    /* Moves links to center */
    .links {
        padding-top: 5px;
        margin-left: initial;
    }
}

@media screen and (min-width: 668px) {

    /* Adds big padding when on pc */
    .navbar {
        padding-left: 15%;
        padding-right: 15%;
        justify-content: initial;
    }

    /* Moves links to the right */
    .links {
        padding-top: initial;
        margin-left: auto!important;
    }

    /* Adds space between the links */
    .nav-link {
        margin-left: 1rem;
    }
}

/* Home Page */

/* Setting up the background-image in the div and contains the text */
.home {
    /* Setup image and position */
    background-image: url("img/calendar-4.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;

    /* Setting up a way so the page is always the size of the screen or more (no white space on the bottom) */
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.full-page {
    height: 100vh;
}

/* Text div (Sets up color, size and more) */
.home-text {
    color: #fff;
    font-size: 2.3rem;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
}

/* Helper Classes */

/* Class to set the margin to 0 */
.m-0 {
    margin: 0;
}

/* Class to align text to center */
.text-center {
    text-align: center;
}

/* Decides on the size of the logo */
.main-logo {
    width: 168px;
}